.transition-group {
    position: relative;
  }
  
  .transition-route-section {
    position: absolute;
    padding-bottom: 100px;
    width: 100%;
    top: 0;
    left: 0;
  }

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}

.fade-in-enter {
  opacity: 0;
  transform: scale(0.9);
}
.fade-in-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.fade-in-exit {
  opacity: 1;
}
.fade-in-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
