
@font-face {
    font-family: 'ChopinScript';
    src: url('../fonts/ChopinScript.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
     url('../fonts/ChopinScript.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  }  

  @font-face {
    font-family: 'Aguafina Script';
    src: url('../fonts/AguafinaScript-Regular.woff2') format('woff2'),
        url('../fonts/AguafinaScript-Regular.woff') format('woff'),
        url('../fonts/AguafinaScript-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
