
$loaderColor: lighten($primary,33%);

.loader-container{
    text-align: center;
    color:$loaderColor;
}

.loader {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 120px;
    display: inline-block;
    vertical-align: middle;
}

.loader-star {
    position: absolute;
    top: calc(50% - 12px);
}

.loader-2 .loader-star {
    position: static;
    width: 60px;
    height: 60px;
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
        transform: scale(0.7);
    -webkit-animation: loader-2-star 1s ease alternate infinite;
    animation: loader-2-star 1s ease alternate infinite;

    path{
        fill: $loaderColor;
    }
}

.loader-2 .loader-circles {
    width: 8px;
    height: 8px;
    background: $loaderColor;
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 4px);
    top: calc(50% - 4px);
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    -webkit-animation: loader-2-circles 1s ease-in-out alternate infinite;
    animation: loader-2-circles 1s ease-in-out alternate infinite;
}

@-webkit-keyframes loader-2-circles {
    0% {
        -webkit-box-shadow: 0 0 0 $loaderColor;
        box-shadow: 0 0 0 $loaderColor;
        opacity: 1;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-box-shadow: 24px -22px $loaderColor, 30px -15px 0 -3px $loaderColor, 31px 0px $loaderColor, 29px 9px 0 -3px $loaderColor, 24px 23px $loaderColor, 17px 30px 0 -3px $loaderColor, 0px 33px $loaderColor, -10px 28px 0 -3px $loaderColor, -24px 22px $loaderColor, -29px 14px 0 -3px $loaderColor, -31px -3px $loaderColor, -30px -11px 0 -3px $loaderColor, -20px -25px $loaderColor, -12px -30px 0 -3px $loaderColor, 5px -29px $loaderColor, 13px -25px 0 -3px $loaderColor;
        box-shadow: 24px -22px $loaderColor, 30px -15px 0 -3px $loaderColor, 31px 0px $loaderColor, 29px 9px 0 -3px $loaderColor, 24px 23px $loaderColor, 17px 30px 0 -3px $loaderColor, 0px 33px $loaderColor, -10px 28px 0 -3px $loaderColor, -24px 22px $loaderColor, -29px 14px 0 -3px $loaderColor, -31px -3px $loaderColor, -30px -11px 0 -3px $loaderColor, -20px -25px $loaderColor, -12px -30px 0 -3px $loaderColor, 5px -29px $loaderColor, 13px -25px 0 -3px $loaderColor;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    100% {
        opacity: 0;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-box-shadow: 25px -22px $loaderColor, 15px -22px 0 -3px black, 31px 2px $loaderColor, 21px 2px 0 -3px black, 23px 25px $loaderColor, 13px 25px 0 -3px black, 0px 33px $loaderColor, -10px 33px 0 -3px black, -26px 24px $loaderColor, -19px 17px 0 -3px black, -32px 0px $loaderColor, -23px 0px 0 -3px black, -25px -23px $loaderColor, -16px -23px 0 -3px black, 0px -31px $loaderColor, -2px -23px 0 -3px black;
        box-shadow: 25px -22px $loaderColor, 15px -22px 0 -3px black, 31px 2px $loaderColor, 21px 2px 0 -3px black, 23px 25px $loaderColor, 13px 25px 0 -3px black, 0px 33px $loaderColor, -10px 33px 0 -3px black, -26px 24px $loaderColor, -19px 17px 0 -3px black, -32px 0px $loaderColor, -23px 0px 0 -3px black, -25px -23px $loaderColor, -16px -23px 0 -3px black, 0px -31px $loaderColor, -2px -23px 0 -3px black;
    }
}

@keyframes loader-2-circles {
    0% {
        -webkit-box-shadow: 0 0 0 $loaderColor;
        box-shadow: 0 0 0 $loaderColor;
        opacity: 1;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-box-shadow: 24px -22px $loaderColor, 30px -15px 0 -3px $loaderColor, 31px 0px $loaderColor, 29px 9px 0 -3px $loaderColor, 24px 23px $loaderColor, 17px 30px 0 -3px $loaderColor, 0px 33px $loaderColor, -10px 28px 0 -3px $loaderColor, -24px 22px $loaderColor, -29px 14px 0 -3px $loaderColor, -31px -3px #e11a2b, -30px -11px 0 -3px $loaderColor, -20px -25px $loaderColor, -12px -30px 0 -3px $loaderColor, 5px -29px $loaderColor, 13px -25px 0 -3px $loaderColor;
        box-shadow: 24px -22px $loaderColor, 30px -15px 0 -3px $loaderColor, 31px 0px $loaderColor, 29px 9px 0 -3px $loaderColor, 24px 23px $loaderColor, 17px 30px 0 -3px $loaderColor, 0px 33px $loaderColor, -10px 28px 0 -3px $loaderColor, -24px 22px $loaderColor, -29px 14px 0 -3px $loaderColor, -31px -3px $loaderColor, -30px -11px 0 -3px $loaderColor, -20px -25px $loaderColor, -12px -30px 0 -3px $loaderColor, 5px -29px $loaderColor, 13px -25px 0 -3px $loaderColor;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    100% {
        opacity: 0;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-box-shadow: 25px -22px $loaderColor, 15px -22px 0 -3px black, 31px 2px $loaderColor, 21px 2px 0 -3px black, 23px 25px $loaderColor, 13px 25px 0 -3px black, 0px 33px $loaderColor, -10px 33px 0 -3px black, -26px 24px $loaderColor, -19px 17px 0 -3px black, -32px 0px $loaderColor, -23px 0px 0 -3px black, -25px -23px $loaderColor, -16px -23px 0 -3px black, 0px -31px $loaderColor, -2px -23px 0 -3px black;
        box-shadow: 25px -22px $loaderColor, 15px -22px 0 -3px black, 31px 2px $loaderColor, 21px 2px 0 -3px black, 23px 25px $loaderColor, 13px 25px 0 -3px black, 0px 33px $loaderColor, -10px 33px 0 -3px black, -26px 24px $loaderColor, -19px 17px 0 -3px black, -32px 0px $loaderColor, -23px 0px 0 -3px black, -25px -23px $loaderColor, -16px -23px 0 -3px black, 0px -31px $loaderColor, -2px -23px 0 -3px black;
    }
}

@-webkit-keyframes loader-2-star {
    0% {
        -webkit-transform: scale(0) rotate(0deg);
        transform: scale(0) rotate(0deg);
    }
    100% {
        -webkit-transform: scale(0.7) rotate(360deg);
        transform: scale(0.7) rotate(360deg);
    }
}

@keyframes loader-2-star {
    0% {
        -webkit-transform: scale(0) rotate(0deg);
        transform: scale(0) rotate(0deg);
    }
    100% {
        -webkit-transform: scale(0.7) rotate(360deg);
        transform: scale(0.7) rotate(360deg);
    }
}