﻿#qrCode {
    margin: 15px;
}

.content{
    padding-top: 20px;
}

.nav-bottom-spacer {
    padding-bottom: 108px + 16px;
    display:block;
}

body{
    scroll-behavior: smooth;
    background-color: #fffbfb;
    background-image: linear-gradient(180deg, #fffbfb 0%, #dec7e6 100%);       
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x:hidden; 
}

.navbar-header-title > h1{
    font-family: 'ChopinScript', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
}

.player-overlay{
    position: absolute;
    z-index: 10;;
    height: 100%;
    width: 100%;
    right: 0;
}

.player-overlay button{
    &:hover,&:focus,&:active{
        color:lighten($color: $primary, $amount: 10%);
        border-color:lighten($color: $primary, $amount: 10%);
    }
}

.modal-header.bg-primary > button{
    color: white;
}

h1.logo-front{
    font-family: 'Aguafina Script';
    color: $primary;
    font-size: 100px;
}

.toast-container{
    margin-top: 72px + 10px;
    min-height: 50px;
    position: relative;
}

.toast-wrapper{
    position: fixed;
    top:0;
    right:0;
    z-index: 9999;
    padding-top:72px + 10px;
    padding-right: 20px;
}

.toast-header.bg-primary > button{
    color: white;
}

.media {
    margin-right:10px;
    width: 100%;
  }
  .media, .media-body {overflow:hidden; _overflow:visible; zoom:1;}
  .media-figure {float:left; margin-right: 10px;}
  .media .media-altfigure{float:right; margin-left: 10px;}