@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/mixins";


$border-radius: 2px;
$border-radius-lg: 2px;
$border-radius-sm: 2px;


$badge-border-radius: .25rem;

$primary:   #7c1ea3 !default;
$secondary: #424242 !default;
$danger:    #d81b60 !default;
$theme-colors: ( "primary": $primary);
$theme-colors: ( "secondary": $secondary);
$theme-colors: ( "danger": $danger);

@import "../../node_modules/bootstrap/scss/variables";
$card-color: $black;
$card-bg: #F5F5F6;

// $navbar-dark-color: rgba($white, 0.6);
// $navbar-dark-hover-color: rgba($white, 1) !default;
// $navbar-dark-active-color: $white !default;
// $navbar-dark-disabled-color: rgba($white, .25) !default;